<li data-id="<%= comment.id %>">
	<%= comment.user.email %>
	<%= comment.content %>
	<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "comment-delete-link" %>
</li>