<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to event.title, event %></h4>
    <p class="event-info">
    	<%= event.time %>
    </p>
  </div>
</div>