<h1>Tags</h1>

<!-- pagination soon -->
<!-- end -->

    <% @tags.each do |tag| %>
    <div class="tags">
      <a href="<%= tag_path(tag.name) %>">
        <div class="tag">
          <p class="tag-header"><span class="glyphicon glyphicon-tag"></span> <%= tag.name %></p>
          <p><span>Events #</span> <%= tag.events.count %></p>
        </div>
      </a>
    <% end %>
  </div>

<!-- pagination soon -->
<!-- end -->