<%= render 'photos/add_photo', :photo => @event.photos.build %>
<div class="photos_cpntainer">
	<ul id="photos" data-update-url="<%= sort_photos_url %>">
		<%= render :partial => "photos/photo", :collection => @event.photos.order("position"), :as => 'photo' %>
	</ul>
</div>