.profile-info {
	display: inline-block;
	padding-left: 20px;
	padding-top: 15px;
}

.profile__avatar {
	vertical-align: top;
	display: inline-block;
	width: 200px;
	.caption {
		display: none;
		position: absolute;
		background: rgba(0,0,0,0.75);
		width: 200px;
		height: 50px;
		margin-top: -50px;
		padding-top: 15px;
		padding-left: 50px; 
		a {
			text-decoration: none;
			color: #ddd !important;
		}
	}
}
