.tags {
	display: inline-block;
	a {
		text-decoration: none;
	}
}
.tag {
	display: inline-block;
	padding: 25px 20px;
	margin-left: 10px;
	background: #644;
	border: 2px solid #057 ;

	.tag-header {
		font-size: 20px;
	}
}

.tag:hover {
	background: #544;
	border: 2px solid #355;
	cursor: pointer;
}