<h1>Categories</h1>

	<% @categories.each do |category| %>
		<div class="categories">
			<a href="#">
				<div class="category">
					<p class="category-header">
						<span class="glyphicon glyphicon-bookmark"></span> <%= category.name %>
					</p>
					<p><span>Events #</span> <%= category.events.count %></p>
					<p><span>Users #</span> <%= category.profiles.count %></p>
				</div>
			</a>
		</div>
	<% end %>