<%= form_tag search_path, :method => 'get', class:"navbar-form navbar-left", role:"search" do %>
		<div class="form-group">
					<%= hidden_field_tag :section, params[:section], value: "all" %>
			    <%= text_field_tag :q, params[:q], class:"form-control", placeholder:"Search" %>
			<%= submit_tag "Search", name: nil, class:"btn btn-primary" %>
		</div>
<% end %>
